body{
	padding: 0;
	background: url("../img/1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment:fixed;
}

div.info{
	margin-left: 10%;
	margin-right: 10%;
}

body::-webkit-scrollbar {
	display: none;
}

header{
	width: 100%;
	top: 0;
	position:fixed;
	z-index:100;
	left:;
	right:;
	text-align: center;
	clear: both;
	border-radius: 1px;
	height: 48px;
	font-family:'Averia Sans Libre',cursive;
}

header.h1{
	z-index:0;
}

/*----------header bg---------*/
div.header_bg{
	width: 101%;
	height: 48px;
	background-color: #282848;
	margin-left: -1%;
	opacity: 0.95;
}

/*-----------elements-----------*/
h1{
	font-family: 'Russo One', sans-serif;
	color:#c8b888;
	border-style:inset;
	text-align: center;
	background-color:#63827a;
}

h2 {
	font-family: 'Russo One', sans-serif;
	color:#63827a;
	opacity: 1;
}

#p{
	font-family:'Averia Sans Libre',cursive;
	padding:2%;	
	background-color:white;
	opacity: 0.75;
}

#legend{
	background-color:white;
	padding:5%;
	opacity: 0.85;
}

#custom{
	background-color:white;
	padding:5%;
	opacity: 0.75;
}


/* navigation styles */
nav.page-nav li{
	display: inline;
	margin: 2%;
	padding: 0 0.5em;
	border-right: 1px solid;
}

a.page-nav{
	color:#282848;
}

a.page-nav:hover{
	color:#c8b888;
	background: white;
}

a.link{
	color:#c8b888;
	background: white;
}

a.picture{
	float:left;
	width:40%;
}

strong{
	color:#63827a;
}

::selection{
	background-color:;
	color:#282848;
}


/*----------nav bar----------*/
/*nav words*/
div.nav {
	width: 1000px;
	margin: 0 auto;
	text-align: left;
	margin-top: %;
	clear: both;
	height: 40px;
}

ul.nav {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
	min-width: 200px;
	height:48px;
}

li.icon {
	display: inline-block;
	width: 16.33%;
	text-align:center;
	clear: both;
	transform: translate(0, -82%);/*group 10*/
}

span.t_001{
	font-family: 'Shadows Into Light', cursive;
	font-size: 2.5em;
	color: #63827a;
	display: block;
	padding: 14.2px;
	text-decoration: none;
	font-weight: 1;
	height: 30;
}

li.opt{
	display: inline-block;
	width: 16.33%;
	text-align:center;
	clear: both;
	transform: translate(0, -165%);/*group 10*/
}


/*home project contact*/
a.opt {
	font-size: 1em;
	color: #c8b888;
	display: block;
	padding: 14.2px;
	text-decoration: none;
	font-weight: 1;
	font-weight: bold;
}


/*----------sub nav----------*/
ul.sub {
	display: none;
	position: absolute;
	background-color: #282848;
	border-top: 0;
	margin-left: 0%;
	z-index: -100;
	width:50px;
	transform: translate(0, -2px);
	opacity: 0.95;
}

/*second mune*/
li.sub {
	display: block;
	width:100%;
	height:30px;
	font-size:0.9em;
	display: inline-block;
	clear: both;
	border-bottom: 2px solid #c8b888;;
	transform: translate(-20px, 1px);/*------sub-this px-------*/
}

/*second mune bg*/
li.opt:hover ul.sub {
	display: block;
	border-bottom-left-radius: 3%;
	border-bottom-right-radius: 3%;
	width: auto;
	border-top:10px, #282848;
}

a.sub{
	font-size: 1em;
	color: white;
	display: block;
	padding: 14.2px;
	text-decoration: none;
	height: 40px;
	transform: translate(-15px,-8px);	
	text-align:center;
	width: 100%;
}

a.sub-this{
	font-size: 1em;
	color: #63827a;
	display: block;
	padding: 14.2px;
	text-decoration: none;
	height: 40px;
	transform: translate(-15px, -8px);
	font-weight: bold;
	text-align:center;
	width: 100%
}

li.sub:hover a{
	color: #63827a;
}


/*----------footer----------*/
footer{
	background-image: url(../img/pic_back1.jpg);
	overflow: hidden;
	margin:-1%;
}

div.diff_top{
	height:400px;
	transform: translate(0, 157px);
}
div.footer{
	direction:absolute;
	width:1300px;
	height:359px;
	margin:0 auto;
}
div.topic_flow ul {
	width: 1000px;
	height: 400px;
	margin: 100px auto;
	list-style: none;
	overflow: hidden;
	
}

div.topic_flow li {
	width: 160px;
	height: 360px;
	float: left;
	transition: all 0.1s linear;
	position: relative;
}
li.last{
	width: 500px;
}
div.topicflow ul:hover li {
	width: 32px;
}
div.topic_flow ul li:hover {
	width: 500px;
}

div.topic_flow ul li:hover a.background{
	background-color:transparent;
}
div.topic_flow ul li:hover a.text{
	opacity: 0;
}
div.topic_flow ul li:hover a.touch{
	opacity: 1;
}

a.text{
	position: absolute;
	left: 10px;
	bottom: 0;
	width: 600px;
	height: 10%;
	line-height: 30px;
	color: white;
	-moz-transition: all 0.2s ease; 
	-webkit-transition: all 0.2s ease; 
	transition: all 0.2s ease; 
	font-family: 'Anton', sans-serif;
}

a.touch{
	position: absolute;
	left: 20px;
	bottom: 0;
	width: 600px;
	height: 10%;
	line-height: 30px;
	color: white;
	-moz-transition: all 0.2s ease; 
	-webkit-transition: all 0.2s ease; 
	transition: all 0.2s ease; 
	opacity: 0;
	transform: translate(0, -860%);
	font-size: 4em;
	line-height: 93%; 	
	font-family: 'Anton', sans-serif;
}
a.background {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 600px;
	height: 100%;
	background:black;
	line-height: 30px;
	opacity: 0.3;
}
/*----------footer----------*/
/*foot words*/
div.foot{
	margin-top: 200px;
	height: 30px;
	background-color: #282848;
	opacity: 0.9;
}


/*footer group10*/
a.foot{
	text-decoration:none;
	color: #63827a;
	font-family:'Shadows Into Light',cursive;
}


/*footer powered by*/
div.foot p{
	transform: translate(45%, 5px);
	color:#c8b888;
	font-family:'Averia Sans Libre',cursive;
}

div.cut{
	height:60px;
	background-image: url(../img/pic_cut.jpg);
}

img.cut{
	transform: translate(50px, -47px);
	position: absolute;
}


/*----------top black line----------*/
div.blank{
	direction: absolute;
	padding:0;
	margin-top:0 auto;
	width: 100%;
	height:48px;
	background-color:black;
	opacity:0.0;
}